
/* .jsClient>.header { */
/* 	display: block; */
/* 	height: 3rem; */
/* 	font-size: 2.5rem; */
/* 	text-align: center; */
/* 	color: white; */
/* 	border-bottom: 1px solid; */
/* 	border-color: inherit; */
/* 	text-shadow: 1px 1px 1px #000, 5px 5px 8px #0040f6; */
/* 	background-color: #0082c9; */
/* 	padding-left: 1rem; */
/* 	padding-right: 1rem; */
/* } */
.workItem > .buttonView {
	position: absolute;
	bottom: 0rem;
	background-color: #0082c9;
	padding: 0.2rem 0.2rem 0rem 0.2rem;
	right: 1rem;
	z-index: 999;
}
.workItem > .showView {
	padding-bottom: 3rem;
}
.workItem > .editView {
	padding-bottom: 3rem;
}
.workItem > .incomingLinksView {
	padding-bottom: 3rem;
	margin-top: -3rem;
}

.jsClient .serverAddress {
	left: .5rem;
	width: 20rem;
	position: absolute;
	display: block;
}