html {
	margin: 0px;
	height: calc(100% - 2rem);
	padding: 0px;
}
body {
	margin: 0px;
	height: 100%;
	padding: 0px;
}
.jsClient.mainView {
	height: 100%;
	height: calc(100% - 2rem - 2px);
	background: linear-gradient(to bottom, #d5ebfc 0%, #f9fafb 100%);
	border: 1px solid black;
	box-shadow: 5px 5px 8px #aeaeae;
	border-radius: .3rem;
	margin: 2rem;
	border-color: #B6B0A2;
	position: relative;	
	display: block;
	overflow: hidden;
}
.jsClient > .header {
	display: block;
	height: 9rem;
	font-size: 7rem;
	text-align: center;
	color: magenta;
	text-shadow: 5px 5px 8px #0040f6;
	border-bottom: 1px solid;
	border-color: inherit;
}
.jsClient > .sideBar {
	display: inline-block;
	height: calc(100% - 9rem - 2rem - 1px);
	overflow: auto;
	width: 20rem;
	padding: 1rem;
	border-right: 1px solid;
	border-color: inherit;
	position: relative;
}
.sideBar > .recordType {
	display: block;
	border-bottom: 1px dashed;
	border-color: inherit;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: .2rem;
/* 	transition: zoom 0.5s ease 0s; */
}
.sideBar > .recordType:hover {
/* 	transform: scale(1.1);	 */
	text-decoration: underline;
	cursor: pointer;
}

.jsClient > .workArea{
	position: absolute;
	display: inline-block;
	width: calc(100% - 22rem - 1px);
	height: calc(100% - 9rem - 1px);
/* 	background-color: gray; */
}