html {
	margin: 0px;
	height: calc(100%);
	padding: 0px;
}

body {
	margin: 0px;
	height: 100%;
	padding: 0px;
}

.topBar {
	min-height: 2rem;
	display: block;
	border-bottom: 1px solid #0082c9;
}

.topBar .iconButton {
	transform: scale(1.3, 1.3);
	top: 0.5rem;
	right: 0.5rem;
}

.holder.tool {
	background-color: rgba(0, 129, 198, 0.2);
	display: block;
	border: 1px solid black;
	min-height: 5rem;
	position: relative;
	overflow: hidden;
	margin: 2px 0px;
	z-index: 0;
}

.holder.tool:before {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -144px -0px;
	opacity: .4;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	right: 4.5rem;
	top: 5rem;
	z-index: -1;
}

.holder {
	/* 	needed for tests to see that it is visible */
	min-height: 1px;
	min-width: 1px;
	display: inline-block;
}
.holder.tool input {
	margin: 1rem;
}

.jsClient.mainView {
	height: 100%;
	border-color: #0082c9;
	position: relative;
	display: block;
	overflow: hidden;
	background: linear-gradient(to bottom, #eaeaea 0%, #f9fafb 100%);
}

.progress {
	height: 1rem;
	width: 50%;
	margin: 1rem;
}

.jsClient>.header {
	display: block;
	height: 3rem;
	font-size: 2.5rem;
	text-align: center;
	color: white;
	border-bottom: 1px solid;
	border-color: inherit;
	text-shadow: 1px 1px 1px #000, 5px 5px 8px #0040f6;
	background-color: #0082c9;
}

.jsClient>.header .menuView {
	display: block;
	float: left;
	height: auto;
	font-size: 1rem;
	text-align: center;
	color: black;
	border-bottom: none;
	border-color: inherit;
	text-shadow: none;
	padding: .2rem;
	cursor: pointer;
	position: relative;
}

.jsClient>.header .menuView.uploading::before {
	background: url("../images/icons2.svg") no-repeat scroll -79px 0px;
	content: "";
	height: 16px;
	width: 16px;
	opacity: 1;
	position: absolute;
	transition: opacity 0.5s ease 0s;
	z-index: 100;
	top: 3px;
	right: 2px;
	animation: rotation2 2s linear;
	animation-iteration-count: infinite;
}

@keyframes rotation2 {
	from {transform: rotate(0deg);
}

to {
	transform: rotate(359deg);
}

}
.jsClient>.sideBar {
	border-color: inherit;
	border-right-style: solid;
	border-right-width: 1px;
	display: inline-block;
	height: calc(100% - 3rem - 1px);
	overflow: auto;
	padding: 0rem 0.5rem;
	position: relative;
	width: 20rem;
}

.sideBar>.recordType {
	display: block;
	border-color: inherit;
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 100%;
	position: relative;
}

.sideBar>.header {
	padding: .2rem;
}

.sideBar .changed:before {
	content: "* ";
}

.sideBar .header:hover, .sideBar .childrenView .menuView:hover {
	text-decoration: underline;
	cursor: pointer;
}

.sideBar .childrenView span, .sideBar .childrenView div {
	text-decoration: inherit;
}

.sideBar .header {
	border-bottom: 1px dashed;
	border-color: inherit;
}

.sideBar .childrenView {
	display: block;
	width: 100%;
	border-color: inherit;
	background-color: rgba(180, 216, 216, 0.07);
	font-size: .8rem;
}

.sideBar .childrenView>span {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: inherit;
	padding: .2rem;
	padding-left: .4rem;
}

.sideBar .childrenView>span:nth-child(even) {
	border-color: inherit;
}

.sideBar .childrenView>span:last-child {
	border-bottom: 1px solid;
	border-color: inherit;
}

.sideBar .active, .header .active {
	font-weight: bold;
	background-color: rgba(5, 131, 249, 0.49);
}

.sideBar>.recordType  span {
	display: block;
}

.jsClient>.workArea {
	display: inline;
	height: calc(100% - 3rem - 1px);
	margin-left: 1rem;
	position: absolute;
	width: calc(100% - 22rem - 1px);
}

.workArea .workView {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.workArea .workView .workItem {
	display: block;
	position: absolute;
	overflow: scroll;
	height: 100%;
	width: 100%;
}

.workArea .workView .presentation {
	box-shadow: none;
}

.sideBar .menuView div, .jsClient .sideBar .menuView span {
	display: inline;
	border: none;
	padding: 0;
	background: none;
	box-shadow: none;
	margin: 0;
}

.sideBar .menuView .pVar span, .jsClient .sideBar .menuView .text {
	max-width: calc(70% - 1rem - 30px);
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: pre;
}

.sideBar [class*='recordInfo'] .pVar span:before {
	content: "(";
}

.sideBar [class*='recordInfo'] .pVar span:after {
	content: ")";
}

.sideBar [class*='recordInfo'] .pVar span {
	padding-right: 1rem;
	width: 30%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: pre;
}

.sideBar .recordType .buttonView {
	min-width: 20px;
	min-height: 20px;
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
}

.createButton {
	cursor: pointer;
	min-width: 16px;
	min-height: 16px;
	display: block;
	float: right;
	position: relative;
	margin-right: 2px;
}

.sideBar .recordType .buttonView>span::before, .sideBar .recordType .buttonView>span::after
	{
	top: 3px;
	right: 2px;
}

.createButton::before {
	background: url("../images/icons2.svg") no-repeat scroll -128px -32px;
	content: "";
	height: 16px;
	width: 16px;
	opacity: 1;
	position: absolute;
	transition: opacity 0.5s ease 0s;
	z-index: 100;
}

.createButton:hover::before {
	opacity: 0;
}

.createButton::after {
	background: url("../images/icons2.svg") no-repeat scroll -128px -16px;
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease 0s;
	z-index: 101;
}

.createButton:hover::after {
	opacity: 1;
}

.jsClient .workView {
	counter-reset: record;
}

.jsClient .listItem {
	font-size: .8rem;
	counter-increment: record;
	display: flex;
	border-bottom: 1px dashed;
	padding: 0.3rem
}

.jsClient .listItem::before {
	content: counter(record) ".";
	font-size: 2rem;
	display: block;
	left: 0rem;
	padding-right: 0.5rem;
}

.jsClient .listItem .presentation {
	border: none;
	border-radius: 0;
	flex: 1;
}

.jsClient .listItem .pVar {
	min-height: 0;
}

.jsClient .workItem .presentation {
	border: none;
}

.jsClient .listItem input, .jsClient .listItem .buttonView, .jsClient .showView input,
	.jsClient .showView .buttonView .removeButton, .jsClient .showView .buttonView .dragButton,
	.jsClient .menuView .buttonView .removeButton {
	display: none;
}

.jsClient .listItem .pGroup, .jsClient .listItem .repeatingElement {
	background-color: transparent;
	border: none;
}

.jsClient .listItem .pGroup>.pChildRefHandler+.pChildRefHandler {
	margin-top: .3rem;
}

.jsClient .listItem [class*='recordInfo'] {
	font-weight: bold;
}

.jsClient .listItem [class*='recordInfo'] .pVar span:before {
	content: "(";
}

.jsClient .listItem [class*='recordInfo'] .pVar  span:after {
	content: ")";
}

.jsClient .listItem [class*='recordInfo'] .pVar  .infoButton:before,
	.jsClient .listItem [class*='recordInfo'] .pVar  .infoButton:after {
	content: "";
}

.jsClient .listItem .textPartAlternativePGroup .text {
	font-weight: bold;
	margin: 0;
}

.jsClient .showView {
	float: right;
}

.jsClient .editView, .jsClient .showView {
/* 	height: calc(100% - 3rem); */
	width: calc(50% - 0.5rem);
	display: inline-block;
	overflow: auto;
}

.jsClient .editView .repeatingElement .repeatingElement, .jsClient .editView .pSurroundingContainer .repeatingElement
	{
	/* 	border: none; */
	
}

.jsClient .editView .repeatingElement .repeatingElement .repeatingElement .maximized
	{
	border: none;
	background-color: transparent;
}

.jsClient {
	font-size: .9rem;
}

.jsClient .showView .pGroup, .jsClient .showView .repeatingElement {
	border: none;
}

.jsClient .showView .pGroup>.pChildRefHandler+.pChildRefHandler {
	/* 	margin-top: .3rem; */
	flex: 1;
}

.jsClient .text {
	font-weight: bold;
	margin: 0;
	margin-top: 0.5rem;
}

.jsClient .showView .pSurroundingContainer {
	border: none;
	margin-top: 1rem;
}

.jsClient .workItem>.buttonView {
	width: 100%;
	height: 2rem;
	display: block;
	height: 2rem;
}