html {
	margin: 0px;
	height: calc(100%);
	padding: 0px;
}

body {
	margin: 0px;
	height: 100%;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.holder.tool {
	background-color: #c3ddeb;
	display: flex;
	min-height: 5rem;
	position: absolute;
	overflow: hidden;
	margin: 2px 0px;
	z-index: 101;
	top:2em;
	left:88%;
	flex-direction:column;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	padding: 0.4em 0 0.4em 0;

}

.holder.tool:before {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -144px -0px;
	opacity: .4;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	right: 4.5rem;
	top: 5rem;
	z-index: -1;
}

.holder {
	/* 	needed for tests to see that it is visible */
	min-height: 1px;
	min-width: 1px;
	display: inline-block;
}

.holder.tool input {
	margin: 1rem;
	margin-bottom:0.5em;
	margin-top:0.5em;
}

.jsClient.mainView {
	height: 100%;
	border-color: #0082c9;
	position: relative;
	display: block;
	overflow: hidden;
	background: linear-gradient(to bottom, #f2f2f2 0%, #f9fafb 100%);
}

.progress {
	height: 1rem;
	width: 50%;
	margin: 1rem;
}

.jsClient>.header {
	display: block;
	height: 3rem;
	font-size: 2.5rem;
	text-align: center;
	color: white;
	border-bottom: 1px solid;
	border-color: inherit;
	text-shadow: 1px 1px 1px #000, 5px 5px 8px #0040f6;
	background-color: #0082c9;
	padding-left: 1rem;
	padding-right: 1rem;
}

.jsClient>.header .menuView {
	display: block;
	float: left;
	height: auto;
	font-size: 1rem;
	text-align: center;
	color: black;
	border-bottom: none;
	border-color: inherit;
	text-shadow: none;
	padding: .2rem;
	cursor: pointer;
	position: relative;
}

.jsClient>.header .menuView.uploading::before {
	background: url("../images/icons2.svg") no-repeat scroll -79px 0px;
	content: "";
	height: 16px;
	width: 16px;
	opacity: 1;
	position: absolute;
	transition: opacity 0.5s ease 0s;
	z-index: 100;
	top: 3px;
	right: 2px;
	animation: rotation2 2s linear;
	animation-iteration-count: infinite;
}

@keyframes rotation2 {
	from { 
		transform:rotate(0deg);	
	}
	to {
		transform: rotate(359deg);
	}
}
.iconButton.loginManagerView {
	transform: none;
	font-size: 1.1rem;
	float: right;
	margin-right: 0.4rem;
	margin-top: 0.6rem;
	cursor: pointer;
}

.iconButton.loginManagerView:before, .iconButton.loginManagerView:after
	{
	background: none;
}

.holder.loginManagerView {
	min-width: 10rem;
	min-height: 10rem;
	border: 1px solid black;
	position: absolute;
	top: 2.2rem;
	right: 1rem;
	z-index: 1000;
	background: lightblue;
}

.loginManagerView .menuOption {
	height: 2rem;
	display: block;
	cursor: pointer;
}

.jsClient>.sideBar {
	border-color: inherit;
	border-right-style: solid;
	border-right-width: 1px;
	display: inline-block;
	height: calc(100% - 3rem - 1px);
	overflow: auto;
	padding: 0rem 0.5rem;
	position: relative;
	width: 20rem;
}

.sideBar span {
	border-color: inherit;
}

.openGuiItemHandlerView, .searchesView {
	border-bottom: 1px solid;
	display: block;
}

.openGuiItemHandlerView {
	padding-top: .5rem;
	padding-bottom: 1rem;
}

.openGuiItemHandlerView .header {
	font-weight: bold;
}

.recordTypesView>.recordTypeGroup {
	display: block;
	border-color: inherit;
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 100%;
	position: relative;
	font-weight: bold;
}
.openGuiItemHandlerView>.recordType, .recordTypesView .recordType,
	.searchesView>.searchRecord {
	display: block;
	border-color: inherit;
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 100%;
	position: relative;
	font-weight: normal;
}

.openGuiItemHandlerView>.header, .recordTypesView>.header {
	padding: .2rem;
}

.openGuiItemHandlerView .changed:before, .recordTypesView .changed:before
	{
	content: "* ";
}

.sideBar .menuView {
	min-height: 1rem;
	position: relative;
}
.menuView:nth-child(2n) {
	background-color: rgba(0, 130, 201, 0.1);
}
.sideBar .menuView>.removeButton {
	position: absolute;
	right: 0px;
	top: 2px;
}

.sideBar .header.clickable:hover, .sideBar .childrenView .menuView:hover
	{
	text-decoration: underline;
	cursor: pointer;
}

.openGuiItemHandlerView .childrenView span, .openGuiItemHandlerView .childrenView div,
	.recordTypesView .childrenView span, .recordTypesView .childrenView div
	{
	text-decoration: inherit;
}

.sideBar .header {
	border-bottom: 1px dashed;
	border-color: inherit;
}

.sideBar .childrenView {
	display: block;
	width: 100%;
	border-color: inherit;
	background-color: rgba(180, 216, 216, 0.07);
	font-size: .8rem;
}

.sideBar .childrenView>span {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: inherit;
	padding: .2rem;
	padding-left: .4rem;
}

.sideBar .childrenView>span:nth-child(even) {
	border-color: inherit;
}

.sideBar .childrenView>span:last-child {
	border-bottom: 1px solid;
	border-color: inherit;
}

.sideBar .active, .header .active {
	font-weight: bold;
	background-color: rgba(5, 131, 249, 0.49);
}

.openGuiItemHandlerView .menuView, .recordTypesView .recordType  span,
	.searchesView>.searchRecord  span {
	display: block;
}

.jsClient>.workArea {
	display: inline;
	height: calc(100% - 3rem - 1px);
	position: absolute;
	margin-left: 1rem;
	width: calc(100% - 22rem - 1px);
}

.workArea .workView {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.workArea>.workView>.workItem>.editView, .workArea>.workView>.workItem>.showView {
	overflow-y: auto;
	height: calc(90% - 2rem);
}

.editView>.presentation, .showView>.presentation{
	padding-bottom:1rem;
}
.workArea .workView>.workItem {
	display: flex;
	flex-wrap: wrap;
	overflow:hidden;
	height: 100%;
	align-content: flex-start;
}

.topBar {
	height: 2rem;
	display: block;
	border-bottom: 1px solid #0082c9;
	flex: 0 0 100%;
}

.topBar .iconButton {
	transform: scale(1.3, 1.3);
	top: 0.5rem;
	right: 0.5rem;
}


.jsClient .serverAddress {
	font-size:0.7em;
	color:#575757;
}

.jsClient .workItem>.searchFormHolder {
	flex: 0 0 100%;
}

.jsClient .editView, .jsClient .showView {
	flex: 1 1 calc(50% - 1rem);
	margin-top: 0rem;
	margin-right: 0.5rem;
	margin-left: 0rem;
	height: 100%;
}

.jsClient .workItem>.buttonView {
	height: 2rem;
	display: block;
	height: 2rem;
	flex: 0 0 100%;
}


.jsClient .workItem > .incomingLinksView {
	box-shadow: -4px -1px 2px rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f6f6f7;
	height: 50%;
	z-index: 12;
	overflow: auto;
}

.jsClient .incomingLink:hover {
	background-color: rgba(0, 130, 201, 0.1);
	cursor: pointer;
}
.jsClient  .incomingLinksList, .jsClient .incomingLinks, .jsClient .incomingLink {
	display: flex;
	flex: 0 0 100%;
	flex-wrap: wrap;
}
.jsClient .incomingLink span{
	flex: 1 1 20%;
}


.workArea .workView .presentation {
	box-shadow: none;
}

.workArea .childrenView>.workItem {
	display: inline;
	position: relative;
}

.openGuiItemHandlerView .menuView div, .jsClient .openGuiItemHandlerView .menuView span,
	.recordTypesView .menuView div, .jsClient .recordTypesView .menuView span
	{
	display: inline;
	border: none;
	padding: 0;
	background: none;
	box-shadow: none;
	margin: 0;
}

.openGuiItemHandlerView .menuView .pVar span, .jsClient .openGuiItemHandlerView .menuView .text,
	.recordTypesView .menuView .pVar span, .jsClient .recordTypesView .menuView .text
{
	max-width: 95%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: pre;
}

.openGuiItemHandlerView [class*='recordInfo'] .pVar span:before,
	.recordTypesView [class*='recordInfo'] .pVar span:before {
	content: "(";
}

.openGuiItemHandlerView [class*='recordInfo'] .pVar span:after,
	.recordTypesView [class*='recordInfo'] .pVar span:after {
	content: ")";
}

.openGuiItemHandlerView [class*='recordInfo'] .pVar span,
	.recordTypesView [class*='recordInfo'] .pVar span {
	padding-right: 1rem;
	max-width: 70%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: pre;
}

.openGuiItemHandlerView .recordType .buttonView, .recordTypesView .recordType .buttonView
	{
	min-width: 20px;
	min-height: 20px;
	position: absolute;
	display: inline-block;
	top: 0px;
	right: 0px;
}

.createButton {
	cursor: pointer;
	min-width: 16px;
	min-height: 16px;
	display: block;
	float: right;
	position: relative;
	margin-right: 2px;
	top: 0px;
}

.openGuiItemHandlerView .recordType .buttonView>span::before,
	.openGuiItemHandlerView .recordType .buttonView>span::after,
	.recordTypesView .recordType .buttonView>span::before, .recordTypesView .recordType .buttonView>span::after
	{
	top: 3px;
	right: 2px;
}

.createButton::before {
	background: url("../images/icons2.svg") no-repeat scroll -128px -32px;
	content: "";
	height: 16px;
	width: 16px;
	opacity: 1;
	position: absolute;
	transition: opacity 0.5s ease 0s;
	z-index: 100;
}

.createButton:hover::before {
	opacity: 0;
}

.createButton::after {
	background: url("../images/icons2.svg") no-repeat scroll -128px -16px;
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease 0s;
	z-index: 101;
}

.createButton:hover::after {
	opacity: 1;
}

.jsClient .workView {
	counter-reset: record;
}

.jsClient .listView {
	width: 100%;
	padding:0.3rem;
	cursor:pointer;
}

.jsClient .listItem {
	font-size: .8rem;
	counter-increment: record;
	display: flex;
	border-bottom: 1px dashed;
	padding: 0.3rem;
}

.jsClient .listItem::before {
	content: counter(record) ".";
	font-size: 2rem;
	display: block;
	left: 0rem;
	padding-right: 0.5rem;
}

.jsClient .listItem .presentation {
	border: none;
	border-radius: 0;
	flex: 1;
}

.jsClient .listItem .pVar {
	min-height: 0;
}

.jsClient .workItem .presentation {
	border: none;
}

.jsClient .listItem .pGroup, .jsClient .listItem .repeatingElement {
	background-color: transparent;
	border: none;
}


.jsClient .listItem [class*='recordInfo'] {
	font-weight: bold;
}

.jsClient .listItem [class*='recordInfo'] .pVar  .infoButton:before,
	.jsClient .listItem [class*='recordInfo'] .pVar  .infoButton:after {
	content: "";
}

.jsClient .listItem .textPartAlternativePGroup .text {
	font-weight: bold;
	margin: 0;
}

.jsClient .editView .repeatingElement .repeatingElement .repeatingElement .maximized
	{
	border: none;
	background-color: transparent;
}

.jsClient {
	font-size: .9rem;
}

.jsClient .showView .pGroup, .jsClient .showView .repeatingElement {
	border: none;
}

.jsClient .text {
	margin: 0;
	color: #575757;
}

.searchResultHolder {
	flex: 1;
}

.pRecordLink  .searchResultHolder {
	max-height: 30em;
	overflow: auto;
	display: block;
}

.indexOrder{
	display : block;
}

.indexOrder .indexItem{
	display : block;
}

.indexOrder input[type="button"]{
	margin-left: 1rem;
}