:root {
  --main-loading-color: #0082c9;
}

.loader {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}
.loadingText {
	font-family: helvetica;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 3px;
	color: var(--main-loading-color);
}

.loadingDescription {
	font-family: helvetica;
	font-size: 0.9em;
	letter-spacing: 3px;
	color: #555753;
	border-bottom: 10px 
}

.loadingUnderConstruction {
	font-family: helvetica;
	font-size: 0.5em;
	letter-spacing: 3px;
	color: #dcddda;
	padding-top: 6px;
}

.loadingRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loadingRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--main-loading-color);
  border-radius: 50%;
  animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-loading-color) transparent transparent transparent;
}
.loadingRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.loadingRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.loadingRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#alvinLoading, #divaLoading {
	display: none;
}
