.messageHolder{
	position: relative;
	width: 100%;
	color: black;
}

.messageHolder .message {
    border: 1px solid #000000;
    border-radius: 2px;
    margin: 4px;
    min-height: 19px;
    padding: 2px;
    width: auto;
}

.messageHolder .messageText {
/* 	position: absolute; */
    max-width: calc(100% - 25px);	
}
.messageHolder .error {
/* 	background-color: red; */
	background-color: #FFB0B0;	
}
.messageHolder .warning {
/* 	background-color: yellow;	 */
	background-color: #FFFE66;	
}
.messageHolder .info {
/* 	background-color: cyan;	 */
	background-color: #91FFFD;	
}
.messageHolder .positive {
/* 	background-color: green;	 */
	background-color: #6AFF69;	
}

.message {
	position: relative;
}
/* .messageHolder .closeButton{ */
/* 	position: absolute; */
/* 	height: 10px; */
/* 	width: 10px; */
/* 	top: 0px; */
/* 	right: 0px; */
/* 	background-color: red; */
/* 	border: 1px solid black; */
/* 	cursor: pointer; */
	
/* } */