.jsClient {
	white-space: pre-wrap;
}
.presentation {
	min-height: 13px;
	min-width: 13px;
	border: 1px solid rgba(140, 140, 140, 0.58);
}

img {
	max-width: 100%;
}

.client1>.presentation {
	background-color: yellow;
}

.client2>.presentation {
	background-color: rgb(170, 223, 248);
}

.client3>.presentation {
	background-color: rgb(158, 231, 55);
}

.client4>.presentation {
	background-color: rgb(255, 172, 251);
}

.client5>.presentation {
	background-color: rgb(255, 218, 129);
}

.client6>.presentation {
	background-color: rgb(248, 191, 91);
}

.pGroup, .pResourceLink {
	min-height: 13px;
	min-width: 13px;
}

.error input, .error select, .error textarea {
	background-color: red;
}

.errorStillFocused input, .errorStillFocused select, .errorStillFocused textarea
	{
	border-color: red;
}

.iconButton {
	cursor: pointer;
	min-width: 16px;
	min-height: 16px;
	display: block;
	float: right;
	position: relative;
	margin-right: 2px;
}

.iconButton::before, .iconButton::after {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	transition: opacity 0.5s ease 0s;
	display: block;
}

.iconButton::before {
	opacity: 1;
	z-index: 1;
}

.iconButton:hover::before {
	opacity: 0;
}

.iconButton::after {
	opacity: 0;
	z-index: 2;
}

.iconButton:hover::after {
	opacity: 1;
}

.removeButton, .infoButton, .openLinkedRecordButton, .showSearchButton {
	transform: scale(0.7, 0.7);
}

.infoButton, .openLinkedRecordButton, .showSearchButton {
	height: 16px;
	width: 16px;
}

.iconButton {
	top: 0.1rem;
}

.openLinkedRecordButton::before {
	background-position: -240px -32px;
}

.openLinkedRecordButton::after {
	background-position: -240px -16px;
}

.showSearchButton::before {
	background-position: -224px -32px;
}

.showSearchButton::after {
	background-position: -224px -16px;
}

.clearLinkedRecordIdButton::before {
	background-position: -256px -32px;
}

.clearLinkedRecordIdButton::after {
	background-position: -256px -16px;
}

.infoButton::before {
	background-position: -64px -0px;
	opacity: 0;
}

.infoButton::after {
	background-position: -64px -16px;
}

.iconButton.tool::before {
	background-position: -144px -32px;
}

.iconButton.tool::after {
	background-position: -144px -16px;
}

.removeButton::before {
	background-position: -32px -16px;
}

.removeButton::after {
	background-position: -32px -0px;
}

.defaultButton::before {
	background-position: -176px 0px;
}

.defaultButton::after {
	background-position: -176px -16px;
}

.alternativeButton::before {
	background-position: -160px 0px;
}

.alternativeButton::after {
	background-position: -160px -16px;
}

.dragButton::before {
	background-position: -192px -0px;
}

.dragButton::after {
	background-position: -192px -16px;
	cursor: move;
}

.addBeforeButton::before {
	background-position: -273px -32px;
}

.addBeforeButton::after {
	background-position: -273px -16px;
}

.jsClient .menuView .pVar .infoButton, .menuView .pVar:hover>.infoButton::before,
	.menuView .pNumVar .infoButton, .menuView .pNumVar:hover>.infoButton::before,
	.menuView .pGroup:hover>.infoButton::before, .menuView .infoButton::before,
	.menuView .infoButton::after, .menuView .infoButton:hover::after,
	.jsClient .menuView .pVar .openLinkedRecordButton, .menuView .pVar:hover>.openLinkedRecordButton::before,
	.menuView .pGroup:hover>.openLinkedRecordButton::before, .menuView .openLinkedRecordButton::before,
	.menuView .openLinkedRecordButton::after, .menuView .openLinkedRecordButton::after
	{
	display: none;
}


.workView .pVar:hover>.infoButton::before, .pNumVar:hover>.infoButton::before,
	.workView .pRecordLink:hover>.buttonView .infoButton::before,
	input:focus+.infoButton::before, .workView .pCollVar:hover>.infoButton::before,
	select:focus+.infoButton::before, textarea:focus+.infoButton::before,
	.workView .pGroup:hover>.infoButton::before, .workView .pMap:hover>.infoButton::before,
	textarea:focus+.infoButton::before, .workView .pSurroundingContainer:hover>.infoButton::before
	{
	opacity: 1;
}

.beeingDragged {
	/* 	chrome can not hadle css changes on dragging :( */
	/* 	transform: scale(0.8); */
	border: 1px solid black;
}

.jsClient .beeingDragged span, .jsClient .beeingDragged div {
	background: transparent;
}

.workView .repeatingElement, .workView .pNonRepeatingChildRefHandler {
	display: flex;
}

.workView .repeatingElement>*, .workView .pNonRepeatingChildRefHandler>*
	{
	flex: 1;
}

.buttonView {
	/* 	needed for tests to see that it is visible */
	display: inline-block;
}

.buttonView:empty {
	display: none;
}

.workView .repeatingElement>.buttonView, .workView .pNonRepeatingChildRefHandler>.buttonView
	{
	flex: 0 1 0;
	display: flex;
	flex-direction: column;
}

.pVar {
	min-width: 30px;
	display: inline-block;
}

.infoActive {
	background-color: rgba(0, 129, 198, 0.1);
	transition: background-color 0.5s linear;
}

.pVar:hover, pNumVar:hover, .pCollVar:hover, .pMap:hover, .pGroup:hover,
	.pSurroundingContainer:hover, .repeatingElement:hover, .pRecordLink:hover,
	.pNonRepeatingChildRefHandler:hover {
	background-color: rgba(0, 129, 198, 0.1);
	transition: background-color 0.5s linear;
}

.infoActive>.infoButton::before, .infoActive>.buttonView .infoButton::before,
	.infoActive>.openLinkedRecordButton::before {
	opacity: 1;
}

.workView .pVar, .workView .pCollVar {
	display: flex;
	flex-wrap: wrap;
}

.workView .pVar {
	flex: 1;
}

textarea {
	flex: 1;
}

 .pGroup,  .pVar,  .pCollVar,  .pSurroundingContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-right: 16px;
}

.pRecordLink {
	padding-right: 16px;
}

.jsClient .workView .inline span, .jsClient .workView .inline div, .inline {
	display: inline;
	position: static;
}

.jsClient .workView .inline .infoView {
	display: flex;
	flex-direction: column;
	position: relative;
}

.workView .pRecordLink {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.workView .pRecordLink.searchActive {
	border: 1px dashed #c5c5c5;	
}

.workView .pRecordLink>.infoView {
	flex: 10 1 80%;
}

.workView .pRecordLink>.childrenView {
	flex: 10 1 80%;
	order: 1;
}

.workView .pRecordLink > .buttonView {
	flex: 1;
	order: 2;
	display: flex;
	flex-direction: column;
}

.workView .pRecordLink>.search {
	flex: 10 1 80%;
	order: -1;
	border-bottom: 1px dashed #c5c5c5;
}

.workView .pRecordLink>.search .listItem {
	border-bottom: 1px dashed #c5c5c5;
}

.jsClient .workView .recordViewer {
	flex: 10 1 80%;
	border: 1px dashed #c5c5c5;
	position: relative;
	overflow: hidden;
	z-index: 0;
	order: 1;
}

.workView .infoButton {
	z-index: 5;
	position: absolute;
	top: 0px;
	right: 0px;
}

.workView .pGroup>.pChildRefHandler, .workView .pGroup>.pNonRepeatingChildRefHandler,
	.workView .pGroup>.pSurroundingContainer, .workView .pGroup>.text {
position: relative;

}

.jsClient .workView .openLinkedRecordButton, .jsClient .workView .showSearchButton,
	.jsClient .workView .clearLinkedRecordIdButton {
	order: 2;
	flex: 0 auto;
}

.infoView {
	flex: 0 1 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.infoView span {
	font-size: 0.7rem;
}

.infoView::before {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -64px -0px;
	opacity: 0.1;
	height: 16px;
	width: 16px;
	transform: scale(5, 5);
	position: absolute;
	right: 5.4rem;
	top: 3rem;
	z-index: -1;
}
.defTextView {
	font-style: italic;
}

.search {
	position: relative;
	overflow: hidden;
}

.search>* {
	position: relative;
}

.search::before {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -224px -0px;
	opacity: 0.2;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	right: 4.8rem;
	top: 4.5rem;
}

.infoView .clickable {
	cursor: pointer;
}

.infoView .clickable:hover {
	text-decoration: underline;
}

.pRepeatingContainer {
	border: 1px dashed green;
	display: block;
}

.workView .tenChildStyle {
	flex: 1 1 100%;
}

.workView .nineChildStyle {
	flex: 1 1 90%;
}

.workView .eightChildStyle {
	flex: 1 1 80%;
}

.workView .sevenChildStyle {
	flex: 1 1 70%;
}

.workView .sixChildStyle {
	flex: 1 1 60%;
}

.workView .fiveChildStyle {
	flex: 1 1 50%;
}

.workView .fourChildStyle {
	flex: 1 1 40%;
}

.workView .threeChildStyle {
	flex: 1 1 30%;
}

.workView .twoChildStyle {
	flex: 1 1 20%;
}

.workView .oneChildStyle {
	flex: 1 1 10%;
}

.workView .zeroChildStyle {
	flex: 1;
}

.presentation .text {
	margin: 4px;
	display: inline-block;
}

.h1TextStyle {
	font-size: 2rem;
}

.h2TextStyle {
	font-size: 1.4rem;
}

.h3TextStyle {
	font-size: 1rem;
}

.h4TextStyle {
	font-size: 0.8rem;
}

.h5TextStyle {
	font-size: 0.7rem;
}

.h6TextStyle {
	font-size: 0.6rem;
}

.h7TextStyle {
	font-style: italic;
}

.presentation .text.labelTextStyle {
	font-weight: bold;
}
.presentation .text.labelTextStyle::after {
	content: ": ";
}

.presentation .inline > .text {
	flex: 0 0;
}

.pRecordLink .text {
	display: block;
}

.repeatingElement:first-child {
	border-top: 1px dashed #0082c9;
}

.repeatingElement {
	border-bottom: 1px dashed #0082c9;
	transition: background-color 0.5s linear;
	position: relative;
	border-bottom: 0.2rem;
}

.jsClient .repeatingElement.hoverRemove {
	background-color: #ffc6c6;
}

.repeatingElement:first-child:last-child {
	border-top: none;
	border-bottom: none;
}

.recordViewer::before {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -240px -32px;
	opacity: 0.1;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	right: 5.5rem;
	top: 5rem;
	z-index: -1;
}

.compactChildStyle .pGroup, .compactChildStyle .pVar, .compactChildStyle .pCollVar, .compactChildStyle .pSurroundingContainer {
	padding-right: 0;
}

.jsClient .workView .rowBasedChildStyle,  .jsClient .workView .rowBased {
	flex-direction: row;
	flex-wrap: wrap;
}

.jsClient .showView .frame.pGroup {
	border: 1px solid gray;
}

#coraMap, .coraMap {
	height: 600px;
	width: calc(100% - 20px);
}

.boldTextStyle{
	font-weight:bold;
}


.specificationTextStyle, .specificationNormalTextStyle, .specificationChildStyle > .childrenView .value {
	color:#999;
}
.specificationTextStyle::before, .specificationNormalTextStyle::before, .specificationChildStyle > .childrenView .value::before{
	content:" (";
}

.specificationTextStyle::after, .specificationNormalTextStyle::after, .specificationChildStyle > .childrenView .value::after{
	content:") ";
}

.specificationNormalTextStyle{
	font-weight: normal;
}

.highlight > .pChildRefHandler > .childrenView > .repeatingElement:nth-child(2n+1) {
	background: #d9e9f2;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding:4px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}