.presentation {
	min-height: 13px;
	min-width: 13px;
	border: 1px solid rgba(140, 140, 140, 0.58);
}

img {
	max-width: 100%;
}

.client1>.presentation {
	background-color: yellow;
}

.client2>.presentation {
	background-color: rgb(170, 223, 248);
}

.client3>.presentation {
	background-color: rgb(158, 231, 55);
}

.client4>.presentation {
	background-color: rgb(255, 172, 251);
}

.client5>.presentation {
	background-color: rgb(255, 218, 129);
}

.client6>.presentation {
	background-color: rgb(248, 191, 91);
}

.pGroup, .pResourceLink {
	min-height: 13px;
	min-width: 13px;
}

.error input, .error select, .error textarea {
	background-color: red;
}
.errorStillFocused input, .errorStillFocused select, .errorStillFocused textarea {
	border-color: red;
}

.buttonView > span::before, .buttonView> span::after {
	top: 3px;
	right: 2px;
}

.iconButton {
	cursor: pointer;
	min-width: 16px;
	min-height: 16px;
	display: block;
	float:right;
	position: relative;
	margin-right: 2px;
}

.iconButton::before, .iconButton::after {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	transition: opacity 0.5s ease 0s;
}

.iconButton::before {
	opacity: 1;
	z-index: 100;
}

.iconButton:hover::before {
	opacity: 0;
}

.iconButton::after {
	opacity: 0;
	z-index: 101;
}

.iconButton:hover::after {
	opacity: 1;
}

.removeButton, .infoButton, .openLinkedRecordButton, .showSearchButton {
	transform: scale(0.7, 0.7);
}

.infoButton, .openLinkedRecordButton, .showSearchButton {
	height: 16px;
	width: 16px;
}
.iconButton  {
	top: 0.1rem;
}

.openLinkedRecordButton::before {
	background-position: -240px -32px;
}

.openLinkedRecordButton::after {
	background-position: -240px -16px;
}

.showSearchButton::before {
	background-position: -224px -32px;
}

.showSearchButton::after {
	background-position: -224px -16px;
}

.clearLinkedRecordIdButton::before {
	background-position: -256px -32px;
}

.clearLinkedRecordIdButton::after {
	background-position: -256px -16px;
}

.infoButton::before {
	background-position: -64px -0px;
	opacity: 0;
}

.infoButton::after {
	background-position: -64px -16px;
}

.iconButton.tool::before {
	background-position: -144px -32px;
}

.iconButton.tool::after {
	background-position: -144px -16px;
}

.removeButton::before {
	background-position: -32px -16px;
}

.removeButton::after {
	background-position: -32px -0px;
}

.defaultButton::before {
	background-position: -176px 0px;
}

.defaultButton::after {
	background-position: -176px -16px;
}

.alternativeButton::before {
	background-position: -160px 0px;
}

.alternativeButton::after {
	background-position: -160px -16px;
}

.dragButton::before {
	background-position: -192px -0px;
}

.dragButton::after {
	background-position: -192px -16px;
	cursor: move;
}


.jsClient .menuView .pVar .infoButton, .menuView .pVar:hover > .infoButton::before,
.menuView .pGroup:hover > .infoButton::before,
.menuView .infoButton::before, .menuView .infoButton::after,
.menuView .infoButton:hover::after  ,
.jsClient .menuView .pVar .openLinkedRecordButton, .menuView .pVar:hover > .openLinkedRecordButton::before,
.menuView .pGroup:hover > .openLinkedRecordButton::before,
.menuView .openLinkedRecordButton::before, .menuView .openLinkedRecordButton::after,
.menuView .openLinkedRecordButton::after  {
	display: none;
}

.workView .pVar:hover > .infoButton::before, .workView .pRecordLink:hover > .buttonView .infoButton::before, 
 input:focus + .infoButton::before ,
.workView .pCollVar:hover > .infoButton::before,  select:focus + .infoButton::before,
textarea:focus + .infoButton::before, .workView .pGroup:hover > .infoButton::before,
textarea:focus + .infoButton::before, .workView .pSurroundingContainer:hover > .infoButton::before
 {
	opacity: 1;
}
	



.beeingDragged {
/* 	opacity: 0.5; */
	transform: scale(0.8);
	border: 1px solid black;
}
.jsClient .beeingDragged span, .jsClient .beeingDragged div {
	background: transparent;
} 

.workView .repeatingElement, .workView .pNonRepeatingChildRefHandler {
	display: flex;
}

.workView .repeatingElement > *,  .workView .pNonRepeatingChildRefHandler > * {
	flex: 1;
}
.buttonView {
/* 	needed for tests to see that it is visible */
	display: inline-block;	
}
.buttonView:empty {
	display: none;
}

.workView .repeatingElement>.buttonView, .workView .pNonRepeatingChildRefHandler>.buttonView {
	flex: 0 1 0;
}

.pVar {
	min-width: 30px;
	min-height: 24px;
	display: inline-block;
}
.infoActive {
	background-color: rgba(0, 129, 198, 0.1);
	transition: background-color 0.5s linear;
}
.pVar:hover, .pCollVar:hover, .pGroup:hover, .pSurroundingContainer:hover, .repeatingElement:hover, 
.pRecordLink:hover, .pNonRepeatingChildRefHandler:hover {
	background-color: rgba(0, 129, 198, 0.1);
	transition: background-color 0.5s linear;
}
.infoActive  > .infoButton::before,
.infoActive  > .buttonView .infoButton::before,
.infoActive  > .openLinkedRecordButton::before {
	opacity: 1;
}

.pVar span {
	font-size: .8rem;
}
.workView .pVar, .workView .pCollVar {
	display: flex;
	flex-wrap: wrap;
}

.workView .pVar > :first-child, .workView .pCollVar > :first-child {
	flex: 1;
	margin: .2em 0;
}
.workView .pGroup, .workView .pSurroundingContainer  {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.workView .pRecordLink {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.workView .pRecordLink > .infoView {
	flex: 10 1 80%;
}
.workView .pRecordLink > .childrenView {
	flex: 10 1 80%;
	order: 1;
}
.workView .pRecordLink > .buttonView {
	flex: 1 1 40px;
	order: 2;
}

.workView .pRecordLink > .search {
	flex: 10 1 80%;
	order: -1;
}
.jsClient .workView .recordViewer {
	flex: 10 1 80%;
	border: 1px dotted green;
	position: relative;
	overflow: hidden;
	z-index: 0;
	order: 1;
}
.workView .pGroup > .infoButton, .workView .pSurroundingContainer  > .infoButton {
	z-index: 5;
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
}
.workView .pGroup > .pChildRefHandler, .workView .pGroup > .pNonRepeatingChildRefHandler, 
.workView .pGroup > .pSurroundingContainer ,
.workView .pGroup > .text {
	flex: 0 1 calc(100% - 25px);
}
.workView .pSurroundingContainer > .pChildRefHandler, .workView .pSurroundingContainer > .text {
	flex: 0 1 calc(100% - 25px);
}

.jsClient .workView .openLinkedRecordButton, .jsClient .workView .showSearchButton,  
.jsClient .workView .clearLinkedRecordIdButton{
	order: 2;
	flex: 0 auto;
}

 .infoView {
	flex: 0 0 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.infoView span {
	display: block;
	font-size: 0.7rem;
}

.infoView::before  {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -64px -0px;
	opacity: 0.1;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	right: 5.5rem;
	top: 5rem;
	z-index: -1;
}
.search{
	position: relative;
	overflow: hidden;
}
.search > * {
	position: relative;
}
.search::before  {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -224px -0px;
	opacity: 0.2;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	left: 5.5rem;
	top: 5rem;
}

.infoView .clickable{
	cursor: pointer;
}
.infoView .clickable:hover{
	text-decoration: underline;
}

.pRepeatingContainer {
	border: 1px dashed green;
	display: block;
}

.pChildRefHandler {
	display: block;
}
.workView .pChildRefHandler.tenChildStyle {
	flex: 1 1 100%;
	background-color: lightgreen;
}
.workView .pChildRefHandler.nineChildStyle {
	flex: 1 1 90%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.eightChildStyle {
	flex: 1 1 80%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.sevenChildStyle {
	flex: 1 1 70%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.sixChildStyle {
	flex: 1 1 60%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.fiveChildStyle {
	flex: 1 1 50%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.fourChildStyle {
	flex: 1 1 40%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.threeChildStyle {
	flex: 1 1 30%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.twoChildStyle {
	flex: 1 1 20%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.oneChildStyle {
	flex: 1 1 10%;
	background-color: lightyellow;
}
.workView .pChildRefHandler.zeroChildStyle {
	flex: 1;
	background-color: lightyellow;
}

.presentation .text {
	margin: 4px;
	display: inline-block;
}
.presentation .text.h1TextStyle {
	font-size: 2rem;
}
.presentation .text.h2TextStyle {
	font-size: 1.5rem;
}
.presentation .text.h3TextStyle {
	font-size: 1rem;
}
.presentation .text.h4TextStyle {
	font-size: 0.8rem;
}
.presentation .text.h5TextStyle {
	font-size: 0.7rem;
}
.presentation .text.h6TextStyle {
	font-size: 0.6rem;
}
.presentation .text.italicTextStyle {
	font-style: italic;
}
.presentation .text.bodyTextStyle {
/* 	font-size: 2rem; */
}
.pRecordLink .text {
	display: block;
}

.repeatingElement + .repeatingElement {
	padding-top: 5px;
}
.repeatingElement:first-child {
	margin-top: 5px;
	border-top: 1px dashed #0082c9;
	padding-top: 5px;
}
.repeatingElement {
	border-bottom: 1px dashed #0082c9;
	transition: background-color 0.5s linear;
}

.jsClient .repeatingElement.hoverRemove {
	background-color: #ffc6c6;
}

.editView .repeatingElement:last-child {
	margin-bottom: 5px;
}
.repeatingElement:first-child:last-child {
	border-top: none;
	border-bottom: none;
	padding-top: 0;
	margin-top: 0;
}

.recordViewer::before  {
	background: url("../images/icons2.svg") no-repeat scroll;
	content: "";
	background-position: -240px -32px;
	opacity: 0.1;
	height: 16px;
	width: 16px;
	transform: scale(10, 10);
	position: absolute;
	right: 5.5rem;
	top: 5rem;
	z-index: -1;
}

/* .jsClient .workView .repeatingElement .compactChildStyle { */
.jsClient  .compactChildStyle {
	display: unset;
}
/* .jsClient .workView .repeatingElement .compactChildStyle .pGroup { */
.jsClient  .compactChildStyle .pGroup {
	display: unset;
}
/* .jsClient .workView .repeatingElement .compactChildStyle span { */
.jsClient  .compactChildStyle span {
	display: inline;
}
/* .jsClient .workView .repeatingElement .compactChildStyle .buttonView { */
.jsClient   .compactChildStyle .buttonView {
	display: none;
}

.jsClient .showView .frame.pGroup {
	border: 1px solid gray;
}
