
div, span {
    background-color: inherit !important;
}

.presentation {
    background-color: #fff !important;
}

.presentation .text.h2TextStyle {
    background-color: #fff !important;
}

.header {
    display: none !important;
}

.sideBar {
    display: none !important;
}

.workArea {
    width: 100% !important;

}

.editView {
    width: 100% !important;
    flex: none !important;
}

.showView {
    display: none !important;
}

.publicationAbstractPVar textarea {
    flex-shrink: 0;
    flex: none;
    height: 6em;
}


.topBar {
    display: none;

}


.workArea .workView {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow: auto;
}


.jsClient > .workArea {
    height: 100%;
}

.jsClient .workView {
    counter-reset:none;
}


.studentThesisMinimalNewPGroup > .pNonRepeatingChildRefHandler {
    border: 1px solid #e8e8f2;
    padding: 1em;
    border-radius: 8px;
    background: #e8e8f2;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.h1TextStyle {
    font-size: 2.5rem;
}

.presentation .text.h2TextStyle {
    margin-bottom: 0.5em;
}

.pChildRefHandler {
    margin-bottom: 1em;
}

.nationalSubjectCategoryAutocompleteIncludePGroup .pChildRefHandler,
.seriesAutocompleteIncludePGroup .pChildRefHandler,
.educationalProgramAutocompleteIncludePGroup .pChildRefHandler,
.subjectCourseAutocompleteIncludePGroup .pChildRefHandler,
.divaOrganisationAutocompleteIncludePGroup .pChildRefHandler,
.divaOrganisationAlternativeNameOutputPGroup .pChildRefHandler,
.divaOrganisationNameOutputPVar .pChildRefHandler
{
    margin-bottom: 0;
}

.infoButton {
    display:none !important;
    padding-right: 0 !important;
}

.search::before{
    background:none;
}

.workView .pRecordLink > .search {
    border:none;
}

.workView .pRecordLink.searchActive {
    border-radius: 5px;
}

.publicationSubTitlePVar {
    padding-right: 0 !important;
}

input[class="create"] {
    float:right;
}

.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler .containsNoData {
   display:none;
}

.pNonRepeatingChildRefHandler.nationalSubjectCategoryParentOutputListSContainer.containsData{
    padding:0 !important;
    border: none;
}

.pNonRepeatingChildRefHandler.compactChildStyle.seriesListISSNSContainer.containsData{
    padding:0 !important;
    border: none;
}



.workView .pRecordLink > .childrenView {
    display: none;
}


.iconButton.openLinkedRecordButton {
    display: none !important;
}

.divaOrganisationPLink > .childrenView > .repeatingElement {
    background: #f4f4f4 !important;
}

.presentation.divaOrganisationAutocompleteSearchPGroup {
    background: #f4f4f4 !important;
}

.workView .pRecordLink.searchActive {
    border:none;
}

.pNonRepeatingChildRefHandler.studentThesisAbstractKeywordsHeaderSContainer.containsNoData {
    border: #2cacff 5px solid;
}

.repeatingElement > .buttonView > .dragButton, .repeatingElement > .buttonView > .addBeforeButton {
    display: none;
}